<div class="index-container">
  <img src="/images/beer.png">
  <a href="/">Check the Beers!</a>
  <a href="/random-beers">Check the Random Beers!</a>

  {{!-- <div><img src="/images/beer.png" alt=""></div>
  <div><button type="button" class="btn btn-primary">Check the Beers!</button></div>
  <div><button type="button" class="btn btn-primary">Check a Random Beer!</button></div> --}}
</div>